[2015-10-22 09:02] b-g opened #2 "General: missing pdf/svg export"

[2015-10-22 11:29] b-g opened #5 "P_1_2_1_01: lerpColor in HSB, chroma.js, saveASE"
* lerpColor with key 2 is buggy, seems to be an bug in p5.js. Bug report is issued https://github.com/processing/p5.js/issues/1029

* ~~if (key == 'c' || key == 'C') GenerativeDesign.saveASE();~~

* Would be cool the extent modes with http://gka.github.io/chroma.js/

[2015-10-22 11:32] b-g opened #6 "General: missing saveASE() in generativedesign.js"
Task:

* Porting of https://github.com/generative-design/GenerativeDesignLibrary3/blob/master/src/generativedesign/GenerativeDesign.java#L267 to js
* Add it to generativedesign.js

[2015-10-22 11:37] b-g opened #7 "P_1_2_2_01, missing GenerativeDesign.sortColors()"
Missing:
- if (key == 'c' || key == 'C') GenerativeDesign.saveASE()
- GenerativeDesign.sortColors()
  if (key == '5') sortMode = GenerativeDesign.HUE;
  if (key == '6') sortMode = GenerativeDesign.SATURATION;
  if (key == '7') sortMode = GenerativeDesign.BRIGHTNESS;
  if (key == '8') sortMode = GenerativeDesign.GRAYSCALE;

Task:
Implment sortColor() in generativedesign.js. Has to be most likely be

[2015-11-03 08:49] pbogdan03 opened #11 "assign sketches to avoid multiple contributions"
How can we assign sketches so that we don't work on the same ones? Create an issue for each one? or maybe submit a comment on this issue with what each contributor is working on.

[2015-11-03 08:56] b-g commented on #11
Exactly. Add an issue and assign yourself. See also https://github.com/generative-design/Code-Package-p5.js/wiki/Development first paragraph :)

[2015-11-03 08:56] #11 closed

[2015-11-03 08:57] b-g commented on #6
Done

[2015-11-03 08:57] #6 closed

[2015-11-24 15:50] b-g opened #18 "better vector based SVG import"
Currently the imported svg shapes are drawn as images e.g. P_2_3_4_01 and are very pixellated, not so nice. Find a ways to have proper vectors form the SVG to canvas.

[2015-11-24 15:51] b-g commented on #5
Should be good now with https://github.com/processing/p5.js/issues/1029

[2015-11-24 15:51] #5 closed

[2015-11-24 15:52] b-g opened #19 "P_1_2_1_01: extend modes with chroma.js"
Would be cool the extent modes with http://gka.github.io/chroma.js/

[2016-02-03 08:40] Niels-NTG opened #40 "Add 'use strict'; to top of every script"
It might be a good idea to add [`'use strict';`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode) to the top of every script. This get rid of many "silent" errors that can occur whilst running JS and promotes writing better code.

[2016-02-03 09:00] b-g commented on #40
👍Yes please + Will do! Still busy with the new baby ... give me a bit more time. Best, B

[2016-02-03 09:03] Niels-NTG commented on #40
I will save you some time by doing the work for you later today. Wish you the best with your new human. ;)

[2016-02-13 17:40] #40 closed

[2016-08-11 12:41] Niels-NTG opened #76 "P_3_1_4_01 not feasible to completely rewrite in JS"
Was [attempting](https://github.com/Niels-NTG/Code-Package-p5.js/blob/d40b637ecca264034abe1ae6f5c0431898d3cf84/01_P/P_3_1_4_01/sketch.js) to port `P_3_1_4_01.pde` and its external classes. Trying to replicate the workings of [Ben Fry's TreeMap library](http://benfry.com/writing/treemap/) proves to be quite difficult. Too many classes. I don't think it's feasible to create a sketch that behaves exa

[2016-08-11 12:45] b-g commented on #76
Thanks for trying!! I see + makes sense! What about using d3 treemap capabilities? There is d3 + p5 cookbook http://sciutoalex.github.io/p5-D3-cookbook/ which show how to make both libs works together e.g. this Voronoi examples is a good start http://sciutoalex.github.io/p5-D3-cookbook/recipes-beginner/voronoi/

[2017-02-22 14:02] b-g opened #111 "Fix Broken P_3_1_2_02"

[2017-02-22 14:03] b-g commented on #111
See repaired P_3_1_2_01

[2017-02-22 21:24] Niels-NTG commented on #111
So… this issue is resolved then? https://github.com/generative-design/Code-Package-p5.js/commit/367bbb150e6edf8904a6395c865b30b7b7cc6cac

[2017-02-24 09:39] b-g commented on #111
No, P_3_1_2_01 is working and is P_3_1_2_02 partly broken.

[2017-03-01 10:16] #19 closed

[2017-05-17 04:17] b-g opened #118 "Fix broken M_1_5_03"
Hi @Niels-NTG, could you fix this one at some time? Ran into it accidentally ... not urgent. Best, B

[2017-05-17 11:27] Niels-NTG commented on #118
@b-g I've investigated it. Turns out that for reasons unknown to me, it works just fine if you open up index.html directly. It only breaks when you view it via the node JS server.

[2017-05-26 12:58] #111 closed

[2017-05-26 12:59] #18 closed

[2017-06-03 11:25] joeyklee opened #123 "P_2_1_1_04 does not load (SVGs in Firefox)"
It seems maybe to be an issue with loadImage() and svg. I get the following error:

[code]

While something seems to get loaded when testing the loadImage() with a callback, if you try to console.log() any of the images in the `shapes` array, it doesn't return anything in Firefox.

Things seem to work in Chrome.

[2017-06-04 12:00] b-g commented on #123
@joeyklee Thanks for reporting this ... I upgraded everything to p5.js v0.5.11. Hopefully this resolves it, if not submit an issue at https://github.com/processing/p5.js/issues

[2017-06-05 13:14] Niels-NTG commented on #123
Nope, updating to p5 v0.5.11 didn't help.

[2017-07-19 18:01] bohnacker opened #128 "P_2_2_5_01: Code is cool, but has to many new commands and structures"
We should keep the code closer to the already learned commands. Of course, having the circles as Objects is a good way to do it, but is completely new for the reader at this point. That might be confusing.
Still, we could keep this kind of code for P_2_2_5_02.

[2017-07-19 19:01] Niels-NTG commented on #128
I can definitely see what you mean. During the porting proces in the past months I've made an effort to not only do a verbatim translation from Java to JavaScript, but also utilise the power of JS where it made improvements to both performance and readability. I've also removed or changed things that just don't make much sense in JavaScript or are remnants of old versions of Processing (for exampl

[2017-07-19 19:02] Niels-NTG commented on #128
So basically what I'm saying is that we should find a good middle ground.

[2017-07-20 05:48] bohnacker commented on #128
You're right, we should find a compromise. I'd opt for keeping the Circle object but replacing `forEach()`, `circles.some()`and `circles.find()`with simple for-loops. I know, it breaks the heart of a real javascript programmer, but from my experience even a simple for-loop is hard enough to understand for beginners.

[2017-07-20 06:59] Niels-NTG commented on #128
I completely agree. I will make the appropriate changes to `P_2_2_5_01` and `P_2_2_5_02` ASAP. Also will look into changing this the new sketches I designed.

[2017-07-20 08:15] Niels-NTG commented on #128
`forEach` is for iterating data, normal `for` loops are for iterating a range of numbers. I use `forEach` all the time whenever I write JavaScript. But this style where you pass functions isn't common in other mainstream programming languages, meaning that's not directly transferrable to another language. Also you have the complexity of scoping `this`, of which the working should not be in the _sc

[2017-07-20 08:18] bohnacker opened #129 "P_1_2_2_01: color sorting works somehow but still not completely"
Changing the image and pressing one of the sorting keys multiple times, I always get different results. That can't be right.

[2017-07-20 13:11] bohnacker commented on #128
I wouldn't mind if there are some `forEach`s remaining in the examples. It's especially ok for all _02, _03, ... sketches. We explain the _01 sketches in the book, so these should be quite readable and understandable for beginners.

[2017-07-23 13:16] #129 closed

[2017-07-23 15:55] bohnacker commented on #7
I've put the functions into the library, but chroma.js is not included. Has to be done at some point.

[2017-07-23 15:55] #7 closed

[2017-07-28 10:09] bohnacker commented on #128
@Niels-NTG Did you already change something on this sketch? If not, I will just go on with that...

[2017-08-03 10:49] #128 closed

[2017-08-03 10:54] bohnacker commented on #76
I had a short look at the option of using d3 for doing this but decided, that it will bring in to many new concepts and syntax. So I wrote our own treemap class.
@b-g We should decide, if we'll put it in the gd-library or leave it in the sketch.

[2017-08-03 10:54] #76 closed

[2017-08-11 05:58] bohnacker opened #130 "Synchronize and check P_1_2_3_02 to _05"
P_1_2_3_02 to _05 needs to be synchronized with P_1_2_3_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:00] bohnacker opened #131 "P_2_0_02 to _03 needs to be synchronised with P_2_0_01"
P_2_0_02 to _03 needs to be synchronised with P_2_0_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:00] bohnacker opened #132 "P_2_1_1_02 to _04 needs to be synchronised with P_2_1_1_01"
P_2_1_1_02 to _04 needs to be synchronised with P_2_1_1_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:02] bohnacker opened #133 "P_2_1_2_02 to _04 needs to be synchronised with P_2_1_2_01"
P_2_1_2_02 to _04 needs to be synchronised with P_2_1_2_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:02] bohnacker opened #134 "P_2_1_3_02 to _05 needs to be synchronised with P_2_1_3_01"
P_2_1_3_02 to _05 needs to be synchronised with P_2_1_3_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:06] bohnacker opened #135 "P_2_1_4_02 to _05 needs to be synchronised with P_2_1_4_01"
P_2_1_4_02 to _05 needs to be synchronised with P_2_1_4_01:
-Variable names as much as possible
-Key interaction
-Code cleaning

**Either improve P_2_1_4_05 or delete it.**

[2017-08-11 06:08] bohnacker opened #136 "P_2_1_5_02 to _04 needs to be synchronised with P_2_1_5_01"
P_2_1_5_02 to _04 needs to be synchronised with P_2_1_5_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:09] bohnacker opened #137 "P_2_2_1_02 needs to be synchronised with P_2_2_1_01"
P_2_2_1_02 needs to be synchronised with P_2_2_1_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:10] bohnacker opened #138 "P_2_2_2_02 needs to be synchronised with P_2_2_2_01"
P_2_2_2_02 needs to be synchronised with P_2_2_2_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:10] bohnacker opened #139 "P_2_2_3_02 needs to be synchronised with P_2_2_3_01"
P_2_2_3_02 needs to be synchronised with P_2_2_3_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:11] bohnacker opened #140 "P_2_2_4_02 needs to be synchronised with P_2_2_4_01"
P_2_2_4_02 needs to be synchronised with P_2_2_4_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:11] bohnacker opened #141 "P_2_2_5_02 needs to be synchronised with P_2_2_5_01"
P_2_2_5_02 needs to be synchronised with P_2_2_5_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:12] bohnacker opened #142 "P_2_3_6_02 needs to be synchronised with P_2_3_6_01"
P_2_3_6_02 needs to be synchronised with P_2_3_6_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:13] bohnacker opened #143 "P_2_3_1_02 needs to be synchronised with P_2_3_1_01"
P_2_3_1_02 needs to be synchronised with P_2_3_1_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:14] bohnacker opened #144 "P_2_3_6_02 needs to be synchronised with P_2_3_6_01"
P_2_3_6_02 needs to be synchronised with P_2_3_6_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:16] bohnacker opened #145 "P_2_3_7_MacPaint_TABLET needs to be synchronised with P_2_3_7_MacPaint_1"
P_2_3_7_MacPaint_TABLET needs to be synchronised with P_2_3_7_MacPaint_1:
- Variable names as much as possible
- Key interaction
- Code cleaning

**Remove MacPaint from sketch names and rename to _01 and _02_TABLET**

[2017-08-11 06:18] bohnacker opened #146 "P_3_1_2_02 needs to be synchronised with P_3_1_2_01"
P_3_1_2_02 needs to be synchronised with P_3_1_2_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:22] bohnacker opened #147 "P_3_1_3_02 to _04 needs to be synchronised with P_3_1_3_01"
P_3_1_3_02 to _04 needs to be synchronised with P_3_1_3_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:27] bohnacker commented on #145
Posted this issue in the wrong repo. It's useless here.

[2017-08-11 06:27] #145 closed

[2017-08-11 06:29] bohnacker opened #148 "P_3_1_4_02 recursive version of treemap"
I've already done a recursive version, but didn't use it for word counting. If anybody has a good idea, if we could do something nice with it, we could still do it.

**Very low priority**

[2017-08-11 06:30] bohnacker commented on #144
Posted this in the wrong repo.

[2017-08-11 06:30] #144 closed

[2017-08-11 06:34] bohnacker commented on #135
Posted this in the wrong repo.

[2017-08-11 06:34] #135 closed

[2017-08-11 06:35] bohnacker commented on #136
Posted this in the wrong repo.

[2017-08-11 06:35] #136 closed

[2017-08-11 06:38] bohnacker opened #149 "P_1_2_3_02 to _04 needs to be synchronised with P_1_2_3_01"
P_1_2_3_02 to _04 needs to be synchronised with P_1_2_3_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:43] bohnacker opened #150 "P_3_1_4_01: put Treemap class into the gd-library"
I'm wondering if the class should be more general in terms of data input. But then it might be changing something in the printed code...

[2017-08-11 06:47] bohnacker opened #151 "P_3_2_1_02 is missing"
We need it, because there will be images of it in the book.

[2017-08-11 06:54] bohnacker opened #152 "P_4_1_2_02 needs to be checked and synchronised with P_4_1_2_01"
P_4_1_2_02 needs to be checked and synchronised with P_4_1_2_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

**Attention: the _01 sketch wasn't working correctly. Now it should. But there might be the same problem with the _02**

[2017-08-11 06:55] bohnacker opened #153 "P_4_2_1_02 needs to be synchronised with P_4_2_1_01"
P_4_2_1_02 needs to be synchronised with P_4_2_1_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-11 06:56] bohnacker opened #154 "P_4_2_2_02 needs to be synchronised with P_4_2_2_01"
P_4_2_2_02 needs to be synchronised with P_4_2_2_01:
- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-14 21:02] Niels-NTG commented on #131
Done. https://github.com/generative-design/Code-Package-p5.js/commit/1ede21626a19e7521498169c34f7aa89dc649cb4

[2017-08-14 21:02] #131 closed

[2017-08-14 21:27] Niels-NTG commented on #137
Done. https://github.com/generative-design/Code-Package-p5.js/commit/3f933b597a569643e9a9ab3d3cfa758ceeb9e052

[2017-08-14 21:27] #137 closed

[2017-08-14 21:37] Niels-NTG commented on #138
Done. https://github.com/generative-design/Code-Package-p5.js/commit/4d10c84afa83ec91bcecab50887b0440adb63d0e

[2017-08-14 21:37] #138 closed

[2017-08-15 21:11] Niels-NTG commented on #130
Done. https://github.com/generative-design/Code-Package-p5.js/commit/831c25cd5720947767a12cd678b1cf36db3b2c1c

[2017-08-15 21:11] #130 closed

[2017-08-16 20:02] Niels-NTG commented on #133
Done. https://github.com/generative-design/Code-Package-p5.js/commit/9b424491f54077a020952f18ef7dd784fffc4c8d

[2017-08-16 20:02] #133 closed

[2017-08-16 20:03] Niels-NTG commented on #149
See https://github.com/generative-design/Code-Package-p5.js/issues/130

[2017-08-16 20:03] #149 closed

[2017-08-19 11:58] #143 closed

[2017-08-19 12:04] Niels-NTG commented on #143
Done. 5d59eb7

[2017-08-19 12:40] Niels-NTG commented on #140
Done. ed650ff

[2017-08-19 12:40] #140 closed

[2017-08-20 19:56] Niels-NTG commented on #132
Done. 7eec511

[2017-08-20 19:56] #132 closed

[2017-08-20 23:38] Niels-NTG commented on #141
Done. See 00deec03f69fefd334b9bc22a61f3f2624d401e2

I had to make some slightly more evolved changes to P_2_2_5_01 to not only make it much more comparable with P_2_2_5_02, but mostly to fix a bug where circles that weren't touching each other where connected with lines. You can see some occurrences of this bug in the screenshot below. Note the green line going going from the top left all the way

[2017-08-20 23:38] #141 closed

[2017-08-25 08:35] b-g opened #155 "Readme: Add Acknowledgments and Contributors Link"

[2017-08-25 21:06] Niels-NTG commented on #134
Done. f5710e1df4dd1dc236536d4994367196e869a513

[2017-08-25 21:06] #134 closed

[2017-08-25 22:05] Niels-NTG commented on #147
Done. c7fe53ca5dfb44716a1e68d9798d7bd61650af8f

[2017-08-25 22:05] #147 closed

[2017-08-26 14:13] Niels-NTG commented on #139
Done. a3b4141c5f4559d278994641d9973b77679473c4

[2017-08-26 14:13] #139 closed

[2017-08-29 07:36] bohnacker opened #156 "P_4_3_1_02 needs to be synchronised with P_4_3_1_01"
P_4_3_1_02 needs to be synchronised with P_4_3_1_01:

- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-29 07:37] bohnacker opened #157 "P_4_3_3_02 needs to be synchronised with P_4_3_3_01"
P_4_3_3_02 needs to be synchronised with P_4_3_3_01:

- Variable names as much as possible
- Key interaction
- Code cleaning

[2017-08-29 11:08] bohnacker commented on #150
Before putting it to the Library, the Treemap class has to be cleaned up. I will do that, and reopen the issue after that.

[2017-08-30 02:51] joeyklee commented on #123
Hi! I converted the SVGs to PNGs and loaded each image and seems to be working... should we use this as a temporary solution? if so, I will make a PR. :

[code]

[2017-08-30 10:53] b-g commented on #123
Hi + thanks! Before we finally go down the png route ... did you try `0.5.14` too?

[2017-08-30 10:54] b-g commented on #123
+ Did you report the issue to the p5.js peeps? (They just can fix things if they know the bugs)

[2017-08-30 10:55] #2 closed

[2017-08-30 13:55] bohnacker commented on #150
The Treemap class is now somehow solid and could be put to the library.

[2017-08-30 15:21] bohnacker commented on #148
Closed. 2d592bb7428834fd153e31760ba737168f04853b

[2017-08-30 15:21] #148 closed

[2017-08-30 15:29] #152 closed

[2017-08-30 15:36] #153 closed

[2017-08-30 15:48] #154 closed

[2017-08-30 15:56] #156 closed

[2017-08-30 16:04] #157 closed

[2017-08-31 09:58] #151 closed

[2017-08-31 11:12] #150 closed

[2017-08-31 11:14] b-g commented on #150
@bohnacker Done! Please note `new gd.Treemap()` e.g. https://github.com/generative-design/Code-Package-p5.js/blob/master/01_P/P_3_1_4_01/sketch.js#L56

[2017-09-01 20:37] joeyklee commented on #123
So looks like the `loadImage()` works on `.svg` in 0.5.14 in Chrome and Safari, but Firefox returns the same error above. I will report to the p5.js and see if we can get some love :)

[2017-09-02 12:20] Niels-NTG commented on #142
Done. 45146487c776968a2c537dfa8f813442aa20196b

[2017-09-02 12:20] #142 closed

[2017-09-02 20:19] joeyklee commented on #123
Just submitted the issue here: https://github.com/processing/p5.js/issues/2150

[2017-09-02 20:21] joeyklee commented on #155
let me know if I can help with this :)

[2017-09-03 06:33] b-g commented on #123
Great! Let's wait what comes back ...

[2017-09-03 06:34] b-g commented on #155
Thanks! will do a first iteration ... would then be great having you go over it. But low prio at them moment, a very last thing.

[2017-09-03 18:22] joeyklee commented on #123
@b-g - please see the explanation here: https://github.com/processing/p5.js/issues/2150

As explained:
[code]

How should we proceed? Should we add the width/height attribute to each of the svg files?

[2017-09-03 18:24] joeyklee commented on #155
@b-g alrighty, I'll go through it when the time comes. Thanks!

[2017-09-03 18:52] b-g commented on #123
@joeyklee Thanks for investigation this! Can you add the corresponding width/height attribute into the (or better all) svg files? Would be great to have Firefox working out of the box with SVG loading sketches.

[2017-09-03 18:55] joeyklee commented on #123
@b-g - sure thing. will take of this now and make  PR. Stay tuned.

[2017-09-04 12:50] joeyklee opened #159 "loadImage() pushed to array fails in Firefox"
`loadImage()`  does not complete loading images on svg's when run in a loop in Firefox (it works for Chrome and in Firefox Developer Edition). See for example in sketch `P_2_3_6_02`.

[2017-09-04 13:50] joeyklee commented on #159
I think the sketches encountering a problem are:

* http://localhost:9966/01_P/P_2_3_6_01/
* http://localhost:9966/01_P/P_2_3_6_02/
* http://localhost:9966/01_P/P_4_3_1_02/

[2017-09-04 14:32] joeyklee commented on #159
Alas! If you assign the array within preload(), then everything works properly! Please see 2e4563b45897cfc4b7870225711880b5a638d098

[2017-09-04 14:32] #159 closed

[2017-09-06 10:53] #123 closed

[2017-10-02 18:18] Niels-NTG commented on #146
Done. https://github.com/generative-design/Code-Package-p5.js/commit/701d22f3daabfbe4e0b6309269cbeab7343a00df

[2017-10-02 18:18] #146 closed

[2018-01-11 04:08] joeyklee commented on #155
Hi @b-g - should I submit through pull request? It seems I don't have the access rights to write to the repository anymore.

[2018-01-11 09:08] b-g commented on #155
Hi @joeyklee Sorry! Should be good now. Gave you write access to the repo via adding you to the team "Authors". Please commit directly into the pre-release branch. Best, B

[2018-01-13 12:38] nucliweb commented on #118
Hi @Niels-NTG & @b-g !

I see that when `help-tooltip.js` load `sketch.js` with `$.get('sketch.js', function(data) { ... });` *(https://github.com/generative-design/Code-Package-p5.js/blob/master/libraries/help-tooltip.js#L3)*, the call generate other `canvas` because generate other instance with `var myp5 = new p5(sketch);` *(https://github.com/generative-design/Code-Package-p5.js/blob/master/02_

[2018-01-15 09:29] bohnacker commented on #118
Thanks @nucliweb! Works fine now.

[2018-01-15 09:29] #118 closed

[2018-01-15 09:30] nucliweb commented on #118
🙌🏼

[2018-01-15 09:38] bohnacker opened #161 "Performance slowdown since p5js v0.5.14"
Since using p5js version 0.5.14 the speed of drawing things slowed down noticably on my machine. I haven't measured but sketches that are drawing a lot of elements are about four times slower.

Am I the only one with this problem? I haven't found any similar issues posted on [https://github.com/processing/p5.js/issues](https://github.com/processing/p5.js/issues).

[2018-01-15 09:58] b-g commented on #118
@nucliweb Yay + (we have been blind)! 🙏

[2018-01-15 10:00] b-g commented on #161
@generative-design/authors Can everyone please check this ... and tell us the behaviour on their machines? Please use the branch `pre-release` for testing.

[2018-01-16 08:06] bohnacker commented on #161
I've added v0.5.12, v0.5.14 and 0.5.16 to the libraries folder to make it easier for you to test.

[2018-01-16 08:42] bohnacker commented on #161
And added a test folder.

[2018-01-16 14:04] joeyklee commented on #161
On my machine... macbook pro v10.12

### on chrome  63.0.3239.132 (Official Build) (64-bit):
+ index-v0.5.12 is the snappiest. Then the current and 0.5.14 are roughly the same.

### on firefox:
+ index-v0.5.12 performs slightly better than the others.  The current and 0.5.14 perform roughly the same.

[2018-01-16 14:22] bohnacker commented on #161
Same here. Tested with chrome 64.0.3282.85 (64-bit) and firefox 57.0.4 (64-bit) on macbook pro  with os x 10.12.
p5 v0.5.12 is at least twice as fast than v0.5.14 or 16.

[2018-01-16 17:15] b-g commented on #161
@joeyklee Can you ask via your insider link the p5js dev whether this is a know issue and whether there is a new version coming up addressing this? I couldn't find in any pointers in the [release notes](https://github.com/processing/p5.js/releases/) ... and @bohnacker said he couldn't find any slow perf issues on the p5 github either.

[2018-01-17 02:45] joeyklee commented on #161
@b-g does it make sense to post to the P5js issues? If so, then I'd reference our issue thread here for reference and then reach out to our contacts. Cool?

[2018-01-17 06:15] b-g commented on #161
@joeyklee please!

[2018-01-17 13:55] joeyklee commented on #161
Please see discussion forming here: https://github.com/processing/p5.js/issues/2549#issuecomment-358310278

[2018-01-17 13:59] joeyklee commented on #161
@bohnacker I added `p5.disableFriendlyErrors = true;` to the beginning of the sketch.js in the `test`. It feels that it does indeed improve the performance. Please give it a try to see if you also notice that there is a speed up.

[2018-01-17 15:25] bohnacker commented on #161
@joeyklee Gave it a try with the test sketch and the frameRate seems again similar to v0.5.12. I'm not sure what to do. It sounds like the new "friendlyErrors" feature would be something that we want to keep for our sketches. Still, for some of the book sketches it would be nicer to have the frameRate as fast as possible.

We should probably pick the sketches by hand where we add this line.

[2018-01-17 15:38] bohnacker commented on #161
Just tried the test sketch with the current verision (0.5.16) of p5.min.js. It is another 10 to 20% faster than the corresponding p5.js. So best would be to switch to the min versions. That also would keep the additional line out of our sketches.
I'll do that and close this issue afterwards.

[2018-01-17 16:00] #161 closed

[2018-01-25 09:32] b-g commented on #155
Good for me know. Thanks everyone! Will close the issue.

[2018-01-25 09:32] #155 closed

[2018-01-25 10:39] b-g opened #163 "Cross check data/README.md"
Hi @joeyklee

Reorganised the centralised /data folder and introduced a dedicated readme. Could you please cross check whether understandable/spelling?

https://github.com/generative-design/Code-Package-p5.js/blob/pre-release/data/README.md

cc @Niels-NTG

[2018-01-25 10:43] b-g opened #164 "index.html (sketch list)"
@Niels-NTG

The new index look much nicer! Many thanks for this!

Quickly two small comments:
- [x] there are some broken images
- [x] would vote to crop all images to square format (also on gg website)

Could you fix this?

[2018-01-25 14:53] joeyklee commented on #163
I'll check it out today and will edit/close issue when appropriate. thanks!

[2018-01-25 15:13] joeyklee opened #165 "Code-Package-p5.js for p5js-web-editor"
@b-g
Regarding getting the sketches into the p5-web-editor, the idea is to pull the sketches from github. However, this means we would need to put the "encapsulated" sketches somewhere on github. Problem is that when the sketches contain the GG library, etc for each sketch the projects is an unweildy ~610mb (~550 excluding the node_modules).

Question is, should we put the encapsulated code packag

[2018-01-25 15:18] joeyklee commented on #165
Also will follow up via email regarding what the web editor username/password/email should be.

[2018-01-25 15:27] Niels-NTG commented on #165
A few months ago I was looking into getting rid off jQuery. That will save some space. And I don't think all the packages listed in `package.json` are required for running the a sketch. Some of them are only required for setting up locally. These could be moved to `devDependencies` in `package.json`.

[2018-01-25 15:30] joeyklee commented on #165
@Niels-NTG true, but still each sketch is about 2mb with all the required libs included

[2018-01-25 20:06] joeyklee commented on #165
Just had a chat with Cassie - she suggested serving our libs via https://rawgit.com/ but it is not really meant for production. any plans for a cdn by chance  for the libs @b-g ?

[2018-01-25 21:08] joeyklee commented on #165
also current most feasible plan seems to be to offload as much of the external references to CDN (e.g. jquery, tooltipster, chromajs, opentype.js, etc) and then we can either serve up our stuff via some other channel (e.g. rawgit) or include our libs in the editor proj folder but that's less optimal. It seems that ideally less files in the p5 editor the better.

[2018-01-25 21:12] joeyklee commented on #165
ah! actually looks like rawgit has urls for production code!

[2018-01-26 08:19] b-g commented on #165
@joeyklee Many thanks for looking into it!

Basically I would prio everything like this:

1. solution should be ready by mit/end of Feb
2. keep in mind maintainability. There will be bugs ... there has to be a way to quickly update and deploy to the p5 online editor
3. keep in mind the long term support. We will have to maintain this baby for 10 years!!

Keep me in the loop, but don't wait on me.

[2018-01-26 13:10] joeyklee commented on #165
@b-g - cool. I will need 1 or 2 days to work it out. Should be ready by the end of next week, but of course I will aim for earlier. Thanks!

[2018-01-27 16:12] joeyklee commented on #165
Just did a little poking around. @Niels-NTG can you confirm that the follow libraries aren't actively being used?

[code]

i'm planning to bundle up the libs that don't have a cdn and would be good to know which ones we can leave out.

thanks!

[2018-01-27 16:12] joeyklee commented on #165
Also for the P5-web-editor I will leave out the `tooltipster` libs

[2018-01-27 16:22] Niels-NTG commented on #165
@joeyklee

- `FileSaver` is used for saving animated GIFs of sketches `P_2_3_7_01` and P_2_3_7_02_TABLET`.
- `kd-tree` is used in the emoji sketches `P_4_3_4_01` and `P_4_3_4_02` for sampling the correct colours.
- `quantize` is only used in A_Cover_Image_Colors. This one is optional IMO.
- `treemap-squarify` doesn't seem to be used anywhere anymore and could be removed.

[2018-01-27 16:24] joeyklee commented on #165
Ah! thanks for catching that @Niels-NTG - ok I will take care to include them in the bundled.js file for the web editor. Thank you!

[2018-01-27 18:23] joeyklee commented on #165
@Niels-NTG maybe I misunderstood what Browserify is doing, but my understanding is that I could roll up all of the dependencies into a `bundled.js` file and then include that within a set of`<script></script>` and then have access to the lib contents... is that not the case?

[2018-01-27 18:24] joeyklee commented on #165
<img width="1167" alt="screen shot 2018-01-27 at 13 23 24" src="https://user-images.githubusercontent.com/3622055/35475023-479f1dc2-0365-11e8-8bbb-bafb1e4ad1ff.png">
the generative-design library loads it seems but then the `gd` object doesn't seem to be available globally :/

[2018-01-28 12:44] b-g commented on #165
@joeyklee Yes my understanding of what Browserify is doing is quite different ... I think we need a different approach.

I would suggest to simply concat all the existing js files which we need into a singe one. Simply coping the contents of the files in to a single file without touching and messing around with the content. e.g. `npm run concat` could be:

[code]
Please keep in mind individual dep

[2018-01-28 17:05] joeyklee commented on #165
thanks @b-g! yeah I discovered this after far too long.
the plan is to concat then all the js libs into a nice little bundle and then for the special sketches with an additional js file just to download that into the p5-editor programatically with the upload script.

I'm chipping away at it. Gotta take care of course stuff for monday, then I'll be back on it Tuesday, onwards.

[2018-02-02 05:12] joeyklee commented on #165
Hi All - updates on the p5-editor front.

I've got a first version working: https://github.com/joeyklee/p5.js-web-editor/blob/master/server/examples-gg-latest.js

It took a fair amount of refactoring and getting acquainted with promises in all their forms and more.  Fun exercise, but still some todos to take care of.

1. [ ] Can we link the fonts somehow or is it possible to just drop this for the

[2018-02-02 05:13] joeyklee commented on #165
## Font files not well suited for p5editor as they are stored in mongodb ==> weird binary stuffs!
<img width="1528" alt="screen shot 2018-02-01 at 23 50 56" src="https://user-images.githubusercontent.com/3622055/35717537-cce6e34c-07ad-11e8-9d91-ab208fa7fd56.png">

## but there's hope as the simple sketches are working
<img width="1528" alt="screen shot 2018-02-01 at 23 51 12" src="https://user-ima

[2018-02-02 07:15] b-g commented on #165
@joeyklee Great + Yay!

1. Could you not directly link to e.g. https://github.com/opensourcedesign/fonts/blob/master/gnu-freefont_freesans/FreeSans.otf or do the rawgit CDN?
2. P_4_2_2_01, yes reduce it ... eg. try uploading to vimeo and download then the compressed version ... and/or simply remove the .ogg video (also in code) to free up some space
3. Sorry no time for testing :( This week and ne

[2018-02-02 14:14] joeyklee commented on #165
1. Ok so there's progress! All fonts are now rawgit linked from our account. Font based sketches should be working. Still need to test.

<img width="1528" alt="screen shot 2018-02-02 at 09 10 47" src="https://user-images.githubusercontent.com/3622055/35737435-6dfdac70-07f9-11e8-8f71-756870322b14.png">

2. Will look into the video/vimeo issue/webhosting issue. I wonder if we can rawgit that too.

3

[2018-02-02 15:25] joeyklee commented on #165
## List of Checked Sketches in p5 Editor (local)

- [ ] P_1_0_01
- [ ] P_1_1_1_01
- [ ] P_1_1_2_01
- [ ] P_1_2_1_01
- [ ] P_1_2_2_01
- [ ] P_1_2_3_01
- [ ] P_1_2_3_02
- [ ] P_1_2_3_03
- [ ] P_1_2_3_04
- [ ] P_1_2_3_05
- [ ] P_2_0_01
- [ ] P_2_0_02
- [ ] P_2_0_03
- [ ] P_2_1_1_01
- [ ] P_2_1_1_02
- [ ] P_2_1_1_03
- [ ] P_2_1_1_04
- [ ] P_2_1_2_01
- [ ] P_2_1_2_02
- [ ] P_2_1_2_03
- [ ] P_2_1_2_04
-

[2018-02-02 19:34] joeyklee commented on #165
## Updates:

- So the above sketches that are checked off are working!
- SVG support is working through external linking. RawGit is taking care, but the only thing is with project ` P_2_3_6_01 ==> svg issues` & `P_2_3_6_02 ==> svg issues` loading all those svg's in the beginning is proving not to work. Maybe we need promises or something?
- weird Dom issues for ` P_2_1_4_01` and `P_2_1_4_02` ==> n

[2018-02-03 13:09] b-g commented on #165
@joeyklee Super great to read all the progress! 🙏

* If things are to painful and just don't make sense for the p5-online-editor e.g. like handling 1000 png files of Tweemoji I wold vote to simply exclude them.
* Please add the `// noprotect` if needed
* Will have a look on the tablet ones, once I have more time e.g. after HfG exhibition next weekend

[2018-02-05 19:12] #164 closed

[2018-02-07 15:07] joeyklee commented on #165
@b-g:

+ Re tweemoji: I'd like to change the sketch code as little as possible/not at all compared to what is in the repo. The issue with the tweemoji files is that even if we were able to reference them from the rawgit cdn given they are already on github is the downloading issue in the sketch. I think for now it is better to drop the sketches with massive data dependencies for the p5.js editor.

[2018-02-07 15:15] b-g commented on #165
@joeyklee
Thanks for the update! Yes let's be pragmatic!

One last idea for the bigger data dependent sketches could also be:
Instead of a CDN service we could simply publish a data repo e.g. the master branch https://github.com/generative-design/data with github pages. That way we could directly link to all the assets without "polluting" the Code-Package-p5.js repository.

[2018-02-07 15:22] joeyklee commented on #165
@b-g so here's just one quirk of the p5.editor:

1. Notice that there's svg's in the "data" folder:

<img width="1476" alt="screen shot 2018-02-07 at 10 19 18" src="https://user-images.githubusercontent.com/3622055/35924232-7d43ee38-0bf0-11e8-9659-6058d10d4f22.png">

2. But those svgs are not flat files, rather when they are stored to mongo, they are just references to the cdn from which they are

[2018-02-07 15:32] joeyklee commented on #165
Offtopics ^^: so in principle, these two sketches should work in the p5 editor but we'd need to write out the `loadImage()` function for each module rather than loop through (due to the request/response issue mentioned above) :

*  P_2_3_6_01 ==> svg issues
* P_2_3_6_02 ==> svg issues

[2018-02-07 15:34] b-g commented on #165
Ok ... just refactor/change it, just please make sure not "touch" code which is printed in the book.

[2018-02-07 16:32] joeyklee commented on #165
@b-g Just to clarify:

- it is ok to change the part of the code from a sketch that is in the book, but just not printed in the explanation section, correct?

meaning:

1. take for example, sketch `P_2_3_6_01`.
2. It is a sketch that is featured in the book
3. BUT the SVG loading via `loadImage()` is not featured in the book, just everything around it.

In that case, is it ok to change the loadIma

[2018-02-07 17:27] b-g commented on #165
@joeyklee

Yes.

Changing any printed code is really painful, but the parts outside of the "viewport" of the pages of the book are fine.

[2018-02-07 17:28] b-g commented on #165
I would vote do such sketch code changes in the `pre-release` branch only.

[2018-02-09 05:06] joeyklee commented on #165
## outstanding issues
- [ ] P_4_2_1_01 ==> needs _footage folder in the heirarchy ==> cdn rawgit them
- [ ] P_4_2_1_02 ==> needs _footage folder in the heirarchy ==> cdn rawgit them
- [ ] P_4_2_3_02 ==> vvt file & video // this is the supercut
- [ ] P_4_2_3_03 ==> vvt file & video // this is the supercut
- [ ] P_4_2_3_04 ==> vvt file & video // this is the supercut
- [ ] P_4_2_3_01 ==> vvt file &

[2018-02-15 13:42] joeyklee commented on #163
Should be clear now with https://github.com/generative-design/Code-Package-p5.js/commit/2772d5d368f5d3640082ee56e54b23d8f751720f

[2018-02-15 13:42] #163 closed

[2018-02-15 13:51] joeyklee commented on #165
@Niels-NTG - The home stretch now! To coordinate with the sketch index page:

## Sketch paths to p5 web editor:

To link the sketches from the p5.js web editor to index page, the links will look like this:

`https://alpha.editor.p5js.org/generative-design/sketches/P_1_0_01` ==> `https://editor.p5js.org/generative-design/sketches/P_1_0_01`

Note: there is no: `01_P/...` or `02_M` appended in front

[2018-02-15 21:02] Niels-NTG commented on #165
@joeyklee For the website I kept it really stupid and simple and just commented out the sketches you listed until further notice. https://github.com/generative-design/generative-design-website-2/commit/73955ce5f4d7abca3328287aca94d73f0fc97e48

[2018-02-19 12:52] b-g opened #166 "FYI / Please check for 1.0 release"
Hi @Niels-NTG  @bohnacker @joeyklee!

Just tweaked the IMO very last things for the 1.0 release of the code packe / repo. Please cross-check. Will go online tomorrow/Tuesday morning 8 CET. Please fix/change what should go in.

🚀Yay!

<img width="654" alt="screen shot 2018-02-19 at 13 49 40" src="https://user-images.githubusercontent.com/480224/36378698-120b91b2-157c-11e8-95d0-a8421263a3a3.png">

B

[2018-02-20 07:24] b-g commented on #165
@joeyklee Can we close this issue and remove the related branch?

[2018-02-20 07:42] #166 closed

[2018-02-20 07:46] b-g opened #168 "Readme: improve local webserver and setup instructions"
@joeyklee

Could you go once more over the readme?

At the moment it reads like you have to install node to run everything, but running index.html in any kind of local webserver would be enough. Could you make the node thing more optional and point out that any local webserver will do?

[2018-02-20 14:49] joeyklee commented on #168
@b-g - Ah good point. Yes, I will add that in. Should the changes be to `pre-release` branch or otherwise?

[2018-02-20 16:24] joeyklee commented on #165
@Niels-NTG - super thanks for doing that. Also apologies for the late reply.

@b-g: I will make  pull-request to the p5-web-editor to change the branch to `master`. Right now the chron job will be taking the sketches from the `gg4editor` branch. Do we want to keep a separate branch for the p5 editor sketches?

[2018-02-20 16:26] joeyklee commented on #168
should be addressed with https://github.com/generative-design/Code-Package-p5.js/commit/79e533f02dbc95e3eacbfa179b40420869e2b981

[2018-02-20 16:26] #168 closed

[2018-02-20 16:33] b-g commented on #165
@joeyklee I think it would be better to have just a single branch ... you know minimum complexity ... we will have to maintain it for years :)

[2018-02-20 16:34] joeyklee commented on #165
@b-g Alles Klar! I will take care and rm the gg4editor branch. Thanks!

[2018-02-22 00:17] joeyklee commented on #165
alrighty should be closed now with https://github.com/generative-design/Code-Package-p5.js/commit/79e533f02dbc95e3eacbfa179b40420869e2b981

[2018-02-22 00:17] #165 closed

[2018-08-07 08:14] b-g opened #169 "Maintenance + updating to more recent p5.js version"
Hi @Niels-NTG @joeyklee @bohnacker, hope this github issue finds you alle well!

It think it would be a good idea to do some maintenance for the new/upcoming version JP/EN of the book. There will be a new wave of attention and we should be best possible prepared for this. Hence could all of us invest a little time in this? I'm thinking of:

- [x] Update p5.js dependency to the most recent stable p

[2018-08-08 18:01] Niels-NTG commented on #169
Sketch viewer page is complete and online!

[2018-08-09 07:15] b-g commented on #169
@Niels-NTG Mega!!

Feedback:
* Would find it better to not open the sketches in a new tab
* If we agree on a singe tab ... then I would add a "back arrow" in the header
* Layout sketch header: as the sketch is running ideally fullscreen ... it would be nice to align far left and right. Doesn't makes sense imo to reflect the column of the main site in the sketch player view.

![2018-08-09 at 09 07]

[2018-08-10 13:59] joeyklee commented on #169
Hey all! Apologies for the slow reply. Getting caught up on web stuff.

+ I can ping Lauren, but quite likely the latest version would be the best way to go, or?

+ Yep, there's a bunch of issues that I'll need to go through systematically and update.

Thanks for your patience!

@Niels-NTG - bravo on the sketches working directly on the site! 🤙

[2018-08-13 06:14] b-g commented on #169
Hi @joeyklee, great! Yes you are right, no need to ping Lauren as we should simply go with the latest one which is currently running in the p5 online editor. Best, B PS. Congrats on the position!

[2018-08-13 14:09] joeyklee commented on #169
@b-g - Cool! Word on the street is that there's also the launch of the v1 of the p5 editor soon ;)
+ Thanks! I will ping you via email - I could use some teaching tips!

[2018-09-24 15:31] joeyklee commented on #169
Hi All,
Apologies for the super late action on my side.

I'm adding/updating changes to:

https://github.com/generative-design/Code-Package-p5.js/tree/dev-updates

I'm starting to dive into the updates. A few notes:

## firefox blocks CORS for gg-dependency-bundle.js in the p5 editor:

* a work around is to convert all our rawgit ==>  http://raw.githack.com/

## Uploading files to the p5 editor ha

[2018-09-25 16:47] joeyklee commented on #169
## Checking Sketches List

I will go down this list 1 by 1 and check if the sketches are working in the **current version of the p5 web editor** locally before I make a pull request to the p5.js-web-editor on my gg4editor branch (https://github.com/joeyklee/p5.js-web-editor/tree/gg4editor) regarding any updates and changes.

## P
- [X] P_1_0_01
- [X] P_1_1_1_01
- [ ] P_1_1_2_01
- [ ] P_1_2_1_01
-

[2018-11-26 10:00] b-g commented on #169
Hi @Niels-NTG, @joeyklee, Many thanks!! I just merged PR #170 ... I think we can close then this issue, or?

Q:
* Can I create a v1.1.0 release
* Add "maintenance release; upgrading to p5.js 0.7.2" to the changelog?
* Joey: Could you deploy the sketches to the online editor?
* Niels: Could you deploy the sketches to the website?

[2018-11-26 10:05] Niels-NTG commented on #169
@b-g Deploying the sketches to the website is already on my list. I will do it later today. And yes, go ahead with creating the new release tag.

[2018-11-26 10:43] b-g commented on #169
Done. Tagged and released v1.1.0. https://github.com/generative-design/Code-Package-p5.js/releases

[2019-01-19 11:52] IDdesigner opened #171 "gd not defined in P_1_2_2_01"
Console says that 'gd' is not defined. First mention of 'gd' is at line 69 in the P5 editor.

[2019-01-19 13:13] Niels-NTG commented on #171
@joeyklee As far as I can see there is nothing wrong with the source code itself. Seem like the resources, including the images are misplaced somewhere on the server. Can you take a look at this?

[2019-06-19 15:57] haschdl opened #172 "Question about uploading to p5.js editor"
Slightly off-topic. I was wondering if in the development of this project you used some automation to publish the sketches in the p5.js editor?

I'm porting a book project with ~50 Processing sketches to p5js, and it would be great to publish them in the portal too. It is all in Github.  How did you do, was it all manual? :)

[2019-06-19 16:00] haschdl commented on #172
Thanks @Niels-NTG . I'm glad to remove the issue if @joeyklee  and team prefer to discuss in another channel.

[2019-06-19 16:20] Niels-NTG commented on #172
It was @joeyklee who was responsible for uploading them to the p5.js editor servers. Me personally, I have no experience with that aspect of our project. But you can ask me any question about the code itself. 😄

[2019-06-19 23:51] joeyklee commented on #172
@Niels-NTG - Hi! It has been ages. I'd love to hear what you're up to!

@haschdl - Hi! Thanks for reaching out. So at the moment, we are connected to @catarak, the creator of the p5 web editor and she allowed us to create a custom batch upload script. This might be a special circumstance though.

However there is hope! I know the p5 web editor team is currently working on developing a client facin

[2019-06-20 17:28] catarak commented on #172
@haschdl joey is indeed right that we're working on a public API right now, so that you could write your own script! i'd love to have you as an early tester of this feature. i think it will be ready within the next month or so!

[2019-06-20 17:46] joeyklee commented on #172
Thanks for your input @catarak ! Suuuper excited for this feature.

[2019-06-20 17:52] joeyklee commented on #171
@Niels-NTG  - this may be a p5 web editor issue for now. The images aren't being served up for some reason in this instance which is another issue. As there is a public API coming for the web editor soon, we will be more easily able to update and edit these kinds of funky issues in the future. For now, I will close this issue. Thanks!

[2019-06-20 17:52] #171 closed

[2019-06-24 11:26] haschdl commented on #172
Thank you everyone for the input! @catarak I'd be more than happy to test the feature. How could I reach out to you?

[2019-06-24 11:28] haschdl commented on #172
Closing. The functionality will be available as an API from p5.js editor.

[2019-06-24 11:28] #172 closed

[2020-09-22 18:22] everythingability opened #173 "Blocked by CORS"
Sure this is fixable

[2020-09-22 18:24] Niels-NTG commented on #173
What exactly is being blocked by CORS restrictions?

[2020-09-23 08:08] everythingability commented on #173
Oh sorry, the example in the p5js example (the last two on your site) doesn't work. It was loading something from http rather than https (or something).

[2020-11-18 16:48] Niels-NTG commented on #173
@everythingability After some delay (sorry about that) I've uploaded updated code for all the examples to our website, including M_6_2_01 and M_6_2_02. They should now work as intended. Let us know if any problems remain.

[2020-11-18 16:48] #173 closed

[2021-06-09 23:05] whatsnewsisyphus opened #175 "Bug in P_1_2_1_01"
https://github.com/generative-design/Code-Package-p5.js/blob/master/01_P/P_1_2_1_01/sketch.js
Line 53, if you move the mouse beyond the canvas, it will fall out of the map range and make tileCountY undefined. It either needs a fallback, or a constraint on mouseY   tileCountY = int(map(constrain(mouseY,0,height), 0, height, 2, 10));

[2021-06-10 16:10] Niels-NTG commented on #175
This should be resolved now. I ended up implementing your proposed solution. Thanks!

[2021-06-10 16:10] #175 closed

[2021-06-11 06:00] b-g commented on #175
@Niels-NTG Many thanks for taking care of this and the new release! Cheers!

[2021-09-29 09:32] #169 closed

[2021-09-29 09:38] b-g opened #176 "Erratum: mouseX and mouseY p. 46 and 47"
Wrong: ellipse(mouseX, **mouseX**, 40, 40);
Correct: ellipse(mouseX, **mouseY**, 40, 40);

[code]